h1 {
  text-align: center
}

html {
  font-family: Helvetica Neue, Arial, sans-serif;
  background: whitesmoke;
}

label {
  width: 100%;
}

form {
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    width: 500px;
    background-color: gray;
    padding: 15px;
}
